<div class="content-container">
    <div class="page-title">Health Check Reports</div>
    <button class="button-upload fr" ng-click="$ctrl.showUpload()">Upload MEPL</button>
    <div class="df-center-single1" style="display: flex; flex-direction: column; align-items: center;clear: both;">
        <img src="/images/report.png">
        <div style="font-family: HelvNeue Light for IBM;font-size: 41px;">Upload MEPL Files</div>
        <span class="home-desc">
            We noticed you don’t have any reports yet, get started with one of the options below, or go to the catalog to create a new application.
        </span>
        <button class="button-upload" style="width: 205px;">Create a report</button>
    </div>
</div>