/* Andy 2018.4.26 11:32 */
.report-detail-container {
	padding: 0px 80px;
}
.report-detail-container .item {
	background: #F9F9FB;
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  padding: 25px 50px 18px 25px;
  display: flex;
  justify-content: space-between;
}

.report-detail-score {
	font-family: Lubalin Book for IBM;
  font-size: 72px;
  color: #8CD211;
  /* position: absolute;
  right: 50px;
  top: 5px; */
}

