
.input-border {
	border: 0;
  border-bottom: 2px solid #979797;
  background-color: transparent; 
  /* color: #979797;  */
  font-family: 'Helvetica Neue'; 
  font-size: 12px;
}

.dialog-container ::-webkit-input-placeholder { /* WebKit browsers */
  color: #979797; font-family: 'Helvetica Neue';  font-size: 12px;
}
.dialog-container ::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #979797; font-family: 'Helvetica Neue';  font-size: 12px;
}
.dialog-container :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #979797; font-family: 'Helvetica Neue';  font-size: 12px;
}
.dialog-container :-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #979797; font-family: 'Helvetica Neue';  font-size: 12px;
}

::-webkit-file-upload-button {
  padding: 0px 20px;
  line-height: 45px;
  border: 2px solid #A8216E;
  background: transparent;
  color: #A8216E;
}

label[for="file-upload"] {
  background: transparent;
  width: 100px;
  text-align: center;
  line-height: 42px;
  height: 45px;
  cursor: pointer;
}

