<div class="backdrop df-center-single" ng-show="$ctrl.isShown" style="z-index: 301;">
    <!-- ng-style="dialogDetail" -->
    <div class="dialog-container" >
        <img src="/images/close.svg" class="backdrop-close cp" ng-click="$ctrl.onCancel()">
        <div style="margin-bottom: 37px;height: auto;" class="{{$ctrl.hasTextarea ? 'dialog-content' : 'dialog-body'}}" ng-class="{'warn': $ctrl.warningInfo}" >
            <div class="dialog-title" ng-show="$ctrl.title">{{$ctrl.title}}</div>
            <div data-ng-bind-html1="$ctrl.content | trust" class="operationPrompt">
                <!-- <input style="width: 100%;" type="text" class="input-border" placeholder="Enter email address" ng-model="$ctrl.email"  id="output" > -->
            </div>

            <div ng-show="$ctrl.hasTextarea" class="mt10">
                <textarea rows="4" cols="1" ng-model="$ctrl.justificationText"></textarea>
            </div>
        </div>
        <div ng-show="$ctrl.warningInfo" class="warnInfo">*Please fill in at least 20 characters in the justification area.</div>

        <div class="dialog-footer">
            <div ng-show="!$ctrl.isLoading">
                <button class="button-upload" style="width: 81px;background: transparent;border:none;margin-right: 15px;" ng-click="$ctrl.onCancel()">{{$ctrl.leftBtnName}}</button>
                <button class="button-upload" style="width: 81px;background: transparent;" ng-click="$ctrl.onSubmit()">{{$ctrl.rightBtnName}}</button>
            </div>
            <img ng-show="$ctrl.isLoading" class="loader" ng-src="/images/loading/loader-45.gif" />
        </div>
    </div>
</div>