/***************************************************Andy 2018.5.3 10:23 Dialog */
.dialog-container {
    border-top: 5px solid #A8216E;
    width: 500px;
    /* height: 335px; */
    background: #ffffff;
    position: relative;
  }
  
  .dialog-container .backdrop-close {
    position: absolute; 
    top: 20px; 
    right: 20px; 
    width: 10px;
  }
  .dialog-title {
    font-family: HelvNeue Light for IBM;
    font-size: 26px;
    margin-bottom: 18px;
  }
  .dialog-body {
    background: #FFFFFF;
    padding: 63px 30px 0px 48px;
    height: 255px;
    display: flex;
    flex-direction: column;
  }
  
  .dialog-footer {
      display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #F0F3F6;
    height: 88px;
    padding-right: 30px;
  }

  .dialog-container .warnInfo {
    color: #FF5C49;
}
.dialog-container .warn textarea{
    border-color: #FF5C49;
}





.dialog {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 3000;
    text-align: center;
}

.dialog>.dialog-container {
    background: #ffffff;
    box-shadow: 0px 8px 24px 0px rgba(128, 128, 128, 0.10);
    width: 500px;
    height: 335px;

    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
}

.dialog>.dialog-container>.content {
    font-family: ibm-font-regular;
    font-size: 14px;
    color: #323232;
    text-align: left;
    padding: 48px;
    border-bottom: solid 1px #f1f1f1;
}
.dialog>.dialog-container>.dialog-content {
    font-family: ibm-font-regular;
    font-size: 16px;
    color: #323232;
    text-align: left;
}
.dialog>.dialog-container>.dialog-content textarea{
    font-family: ibm-font-regular;
    background: #ffffff;
    border: 1px solid #979797;
    color: #323232;
}
.dialog>.dialog-container>.foot {
    padding: 15px;
    text-align: right;
}
.dialog>.dialog-container>.foot>.loader {
	height: 34px;
}
