
/* Andy 2018.3.19 17:56  */
.select-files-container {
	padding: 0px 80px;
}

.table .item-value {
  border: none;
  background-color: transparent;
}
.table .item-value-editable {
  border: 1px solid #979797;
  background-color: #FFFFFF;
}