<div ng-init="init()">
  <div head-bar router-type="{{$ctrl.routerType}}" switch-tab-state="$ctrl.switchTabState"></div>
  <!-- Add error message bar here -->
  
  <div class="content-body {{isMenuOpen ? 'layout-menu-open1' : 'layout-menu-closed'}}">
  	<messagebar-alert></messagebar-alert>
  	<div class="content-page">
  		<div mask></div>
  		<div ui-view class="page"></div>
  	</div>
  </div>
</div>

<common-dialog></common-dialog>
<backdrop></backdrop>
<upload ></upload>
<div list-modal></div>
<div iba-menu-dropdown></div>
<!-- cdchew: remove the old alert , all alert message moved to the common message-bar <div wba-alert></div> -->