.main-container, .transit-container {
    height: 100%;
}


/* Andy 2017.8.22 15:04 */
.content-body {
    padding: 150px 0px 50px 0px;
    /* background: #F9F9FB; */
}



.mask {
	position: fixed; 
	width: 100%; 
	height: 100%; 
	background: rgba(55,55,55,0.30);
	z-index: 60;
}

/****** layout ******/

.content-page .page {
	width: calc(100% - 100px);
	margin: 0 auto;
}

.content-page .page-title {
    font-family: HelvNeue Bold for IBM; 
    font-size: 20px;
    color: #1D3649;
}

.content-page .item-part-number {
    font-family: Lubalin Book for IBM;
    font-size: 25px;
  }